.place__img {
  max-width: 460px;
  max-height: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .place__img {
    max-width: 440px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .place__img {
    max-width: 340px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 440px) {
  .place__img {
    max-width: 288px;
    margin: 0 auto;
  }
}
