.cover__title {
  text-decoration: none;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
  margin: 0 auto 32px;
  z-index: 2;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 9.375vw;
    line-height: 9.9vw;
  }
}

@media screen and (max-width: 440px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 16px;
    max-width: 288px;
  }
}
