@import url(__links/footer__links.css);
@import url(__text/footer__text.css);
@import url(__author/footer__author.css);

.footer {
  max-width: 1184px;
  min-height: 18px;
  margin: 92px auto 24px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {
    width: 92.5%;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.625%;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    width: 93.75%;
    flex-direction: column;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    width: 90%;
  }
}
